<app-header titulo="Lista de Usuarios"></app-header>

<ion-content>

    <ion-card *ngFor= "let dato_registro of datos_Registros">

        <ion-item>
           rut: {{dato_registro.rut}}
        </ion-item>
        <ion-item>
            nombre: {{dato_registro.nombre}}
        </ion-item>
        <ion-item>
            apellido: {{dato_registro.apellido}}
        </ion-item>
        <ion-item>
            correo: {{dato_registro.correo}}
        </ion-item>
        <ion-item>
            password: {{dato_registro.password}}
        </ion-item>

    </ion-card>
    
</ion-content>
